<b>Your Turn</b>

Learn Data Analysis with Python" workbook on Page 14 in Chapter 2.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Connect to sqlite db
db_file = r'C:\Users\RajKumar\Downloads\datasets\salesdata.db'

In [16]:
engine = create_engine(r"sqlite:///{}".format(db_file))
sql = 'SELECT * from scores where `$ Sales/Week`in (2650,3450,3525)'
sales_data_df = pd.read_sql(sql, engine)
sales_data_df

   index  Sales Person  Intelligence  Extroversion  $ Sales/Week
0      9            10           109            28          3525
1     11            12           104            25          3450
2     19            20           101            16          2650